<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.cdnfonts.com/css/turpis" rel="stylesheet">
    <link href="https://paletasdecolores.com/paleta-de-colores-4528/" rel="stylesheet">
    <link href="style.css" rel="stylesheet">

    <title>tarjetas</title>
</head>

<body class="">
    <!-- Barra Navegacion -->
    <nav class="bg-gradient-to-r from-[#036280]  to-[#012e4a]">

        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <!-- Agrupa el logo y los botones en un solo div -->
            <div class="flex h-16 items-center justify-between">

                <!-- logotipo -->
                <a href="/" class="text-white flex items-center gap-2"><img src="../static/img/logo.png" alt=""
                        class="h-12">Huellas Solidarias</a>

                <!-- Separa el logo de los botones -->
                <div>

                    <!-- Botones de la barra de Navegacion -->
                    <div class="flex space-x-4">
                        <a href="/" class="bg-gray-600 text-white rounded-md px-3 py-2 text-sm font-medium"
                            aria-current="page">Principal</a>
                        <a href="#"
                            class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Se
                            un padrino</a>

                    </div>

                </div>

            </div>

        </div>

    </nav>
    <div>
        <div>
            <h1 class="text-black text-center text-5xl my-5 font-['turpis']">TODAS LAS ESTRELLAS</h1>
        </div>
        <div class="flex flex-row justify-center space-x-10 my-5">

            {% for animal in animales %}
            <div
                class="max-w-sm border rounded-lg bg-[#012E4A] border-gray-800 shadow-[16px_17px_39px_-9px_rgba(0,0,0,0.75)]">
                <a href="#">
                    <img class="rounded-t-lg"
                        src="https://images.pexels.com/photos/747795/pexels-photo-747795.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-2xl text-center font-bold tracking-tight text-gray-900 dark:text-white">
                            {{ animal.nombre }}</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">hdfdgffffffffff</p>
                    <a href="/infoAnimales"
                        class="inline-flex items-center px-[30px] py-[10px] text-sm font-medium text-center text-white bg-[#036280] rounded-lg hover:bg-[#378BA4] focus:ring-4 focus:outline-none focus:ring-blue-300">
                        Saber más
                    </a>
                </div>
            </div>
            {% endfor %}
            <!-- termina for-->
            <div
                class="max-w-sm border rounded-lg bg-[#012E4A] border-gray-800 shadow-[16px_17px_39px_-9px_rgba(0,0,0,0.75)]">
                <a href="#">
                    <img class="rounded-t-lg"
                        src="https://images.pexels.com/photos/128817/pexels-photo-128817.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-2xl text-center font-bold tracking-tight text-gray-900 dark:text-white">
                            otis</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Descripcion completamente aleatoria del
                        perro en cuestion. Si quieres saber mas haz click en el boton</p>
                    <a href="/infoAnimales"
                        class="inline-flex items-center px-[30px] py-[10px] text-sm font-medium text-center text-white bg-[#036280] rounded-lg hover:bg-[#378BA4] focus:ring-4 focus:outline-none focus:ring-blue-300">
                        Saber más
                    </a>
                </div>
            </div>
            <div
                class="max-w-sm border rounded-lg bg-[#012E4A] border-gray-800 shadow-[16px_17px_39px_-9px_rgba(0,0,0,0.75)]">
                <a href="#">
                    <img class="rounded-t-lg"
                        src="https://images.pexels.com/photos/104827/cat-pet-animal-domestic-104827.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-2xl text-center font-bold tracking-tight text-gray-900 dark:text-white">
                            Otis</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Descripcion completamente aleatoria del
                        perro en cuestion. Si quieres saber mas haz click en el boton</p>
                    <a href="/infoAnimales"
                        class="inline-flex items-center px-[30px] py-[10px] text-sm font-medium text-center text-white bg-[#036280] rounded-lg hover:bg-[#378BA4] focus:ring-4 focus:outline-none focus:ring-blue-300">
                        Saber más
                    </a>
                </div>
            </div>
        </div>
        <div class="flex flex-row justify-center space-x-10 my-5">


            <div
                class="max-w-sm border rounded-lg bg-[#012E4A] border-gray-800 shadow-[16px_17px_39px_-9px_rgba(0,0,0,0.75)]">
                <a href="#">
                    <img class="rounded-t-lg" src="https://images.pexels.com/photos/1938126/pexels-photo-1938126.jpeg"
                        alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-2xl text-center font-bold tracking-tight text-gray-900 dark:text-white">
                            Otis</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Descripcion completamente aleatoria del
                        perro en cuestion. Si quieres saber mas haz click en el boton</p>
                    <a href="/infoAnimales"
                        class="inline-flex items-center px-[30px] py-[10px] text-sm font-medium text-center text-white bg-[#036280] rounded-lg hover:bg-[#378BA4] focus:ring-4 focus:outline-none focus:ring-blue-300">
                        Saber más

                    </a>
                </div>
            </div>

            <div
                class="max-w-sm border rounded-lg bg-[#012E4A] border-gray-800 shadow-[16px_17px_39px_-9px_rgba(0,0,0,0.75)]">
                <a href="#">
                    <img class="rounded-t-lg h-[320]" src="../static/img/perro4.jpg" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-2xl text-center font-bold tracking-tight text-gray-900 dark:text-white">
                            Otis</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Descripcion completamente aleatoria del
                        perro en cuestion. Si quieres saber mas haz click en el boton</p>
                    <a href="/infoAnimales"
                        class="inline-flex items-center px-[30px] py-[10px] text-sm font-medium text-center text-white bg-[#036280] rounded-lg hover:bg-[#378BA4] focus:ring-4 focus:outline-none focus:ring-blue-300">
                        Saber más

                    </a>
                </div>
            </div>
            <!-- Tarjeta 2 -->
            <div
                class="max-w-sm border rounded-lg shadow bg-[#012E4A] border-gray-800 shadow-[16px_17px_39px_-9px_rgba(0,0,0,0.75)]">
                <div class="h-[307px] bg-[url('../static/img/gatito1.jpeg')] bg-cover bg-center">
                    <img class="h-[307px]  ounded-t-lg" src='' alt="" />
                </div>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-2xl text-center font-bold tracking-tight text-gray-900 dark:text-white">
                            Otis</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Descripcion completamente aleatoria del
                        perro en cuestion. Si quieres saber mas haz click en el boton</p>
                    <a href="/infoAnimales"
                        class="inline-flex items-center px-[30px] py-[10px] text-sm font-medium text-center text-white bg-[#036280] rounded-lg hover:bg-[#378BA4] focus:ring-4 focus:outline-none focus:ring-blue-300">
                        Saber más
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>







</body>

</html>